nytimes.com

INVERT
button[aria-label="Listen to article"] path[stroke="#DFDFDF"]
#site_header_wrapper a[aria-label="Wirecutter"]
div[data-testid="masthead-desktop-logo"] > a > svg
div#live-country-map.live-country-map-embed
div#live-us-map.live-us-map-embed
.needle-wrap > svg
.svelte-1v1dl99
.vmap-layer-container > g > text
.vmap-zoom-buttons
#xwd-board
.pz-nav__logo
.pz-nav__hamburger-box
div.Domino-module_dotsWrapper__fkTri

CSS
.letter.filled.remaining {
    background-color: var(--darkreader-bg--spelling-bee-light-yellow) !important;
}
button[aria-label="Listen to article"] path[d="M22 38L37 28L22 18V38Z"],
button[aria-label="Save article for reading later..."] .saved-stroke {
    fill: var(--darkreader-neutral-text) !important;
}
.css-oylsik,
.css-nhjhh0 svg,
.css-18z7m18 svg,
.css-1q2j1fr svg,
a[data-testid] > svg {
    fill: ${black} !important;
}
.headline-link div {
    color: ${black} !important;
}
.headline-link div:hover {
    color: ${#555} !important;
}
.svelte-15nnlbj {
    font-weight: bold !important;
}
#xwd-board rect[class^="Cell-block--"] {
    fill: ${black} !important;
}
#xwd-board text[class^="Cell-hidden--"] {
    color: ${black} !important;
}
#xwd-board rect[class^="Cell-cell--"] {
    fill: ${darkgrey} !important;
}
#xwd-board rect[class^="Cell-highlighted--"] {
    fill: ${lightgrey} !important;
}
#xwd-board rect[class^="Cell-selected--"] {
    fill: ${white} !important;
}
#xwd-board rect[class^="Cell-related--"] {
    fill: ${goldenrod} !important;
}
#xwd-board rect[class^="xwd__cell--cell"] {
    fill: ${darkgrey} !important;
}
#xwd-board rect[class^="xwd__cell--highlighted"] {
    fill: ${lightgrey} !important;
}
#xwd-board rect[class^="xwd__cell--selected"] {
    fill: ${white} !important;
}
#xwd-board rect[class^="xwd__cell--related"] {
    fill: ${khaki} !important;
}
#xwd-board rect[class*="xwd__cell--penciled"] ~ text[text-anchor^="middle"] {
    fill: ${blue} !important;
}
html[data-darkreader-scheme="dark"] [class*=SolvedCategory-module_solvedCategory][data-level="0"] {
    background-color: rgb(153, 140, 41) !important;
}
html[data-darkreader-scheme="dark"] [class*=SolvedCategory-module_solvedCategory][data-level="1"] {
    background-color: rgb(82, 133, 40) !important;
}
html[data-darkreader-scheme="dark"] [class*=SolvedCategory-module_solvedCategory][data-level="2"] {
    background-color: rgb(60, 116, 144) !important;
}
html[data-darkreader-scheme="dimmed"] [class*=SolvedCategory-module_solvedCategory][data-level="2"] {
    background-color: var(--bg-connections-medium) !important;
}
html[data-darkreader-scheme="dark"] [class*=SolvedCategory-module_solvedCategory][data-level="3"] {
    background-color: rgb(120, 58, 133) !important;
}
[class*=Card-module_label] {
    background-color: ${#dbdbdb} !important;
}
[class*=Card-module_label][class*=Card-module_selected] {
    background-color: #404040 !important;
}

IGNORE INLINE STYLE
line[style="stroke: var(--tie); stroke: black;"]
